In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [26]:
#cargar el archivo csv
ventas = pd.read_csv('datos_ventas.csv')

In [23]:
#calcular el total de ventas por producto

ventas['Total Venta'] = ventas['cantidad'] * ventas['precio_unitario']
total_ventas = ventas.groupby('producto')['Total Venta'].sum().reset_index()

In [25]:
#ordenar de Mayor a menor
total_ventas = total_ventas.sort_values(by='Total Venta', ascending=False)
total_ventas

      producto   Total Venta
9      Teclado  93109.764671
1  Auriculares  86219.259925
5       Laptop  84604.369182
4    Impresora  82130.128888
2      Celular  61905.461813
7        Mouse  60041.330691
3       Cámara  38754.578315
0      Altavoz  29261.045264
6      Monitor  29101.358677
8       Tablet  17726.174115

In [ ]:
#exportar a csv
ventas = pd.read_csv('datos_ventas.csv')